/*------------------------------------------------------------------
Author : Madhumita Chatterjee
-------------------------------------------------------------------*/

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Barlow-Regular;
  src: url('../fonts/Barlow/Barlow-Regular.ttf'); 
}

@font-face {
  font-family: Barlow-Medium;
  src: url('../fonts/Barlow/Barlow-Medium.ttf'); 
}

@font-face {
  font-family: Barlow-Bold;
  src: url('../fonts/Barlow/Barlow-Bold.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RS PLUGIN ]*/
/*---------------------------------------------*/
.container {max-width: 1200px;}



/*//////////////////////////////////////////////////////////////////
[ Form ]*/
.contact100-form {
  width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 220px;
  max-width: calc(100% - 10px);
  position: relative;
  background-color: #e6e6e6;
  height: 40px;
  border: 0px solid transparent;
  border-radius: 5px;
}

/*---------------------------------------------*/
.input100 {
  display: block;
  width: 100%;
  background: transparent;
}

input.input100 {
  height: 100%;
  padding: 0 20px 0 20px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  border: 1px solid #846add;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.2);
  -moz-transform: scaleX(1.1) scaleY(1.2);
  -ms-transform: scaleX(1.1) scaleY(1.2);
  -o-transform: scaleX(1.1) scaleY(1.2);
  transform: scaleX(1.1) scaleY(1.2);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Barlow-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f071";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



/*==================================================================
    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/

/*==================================================================
[ Color ]*/
.cl0 {color: #fff;}




/*//////////////////////////////////////////////////////////////////
[ S-Text 0 - 15 ]*/
.s1-txt1 {
  font-family: Barlow-Regular;
  font-size: 14px;
  color: #fff;
  line-height: 1;
}

.s1-txt2 {
  font-family: Barlow-Regular;
  font-size: 15px;
  color: #846add;
  line-height: 1.4;
}

.s1-txt3 {
  font-family: Barlow-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.4;
}

.s1-txt4 {
  font-family: Barlow-Regular;
  font-size: 14px;
  color: #999999;
  line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 25 ]*/
.m1-txt1 {
  font-family: Barlow-Bold;
  font-size: 25px;
  color: #999999;
  line-height: 1.2;
  margin: 25px 0 29px;
}




/*//////////////////////////////////////////////////////////////////
[ L-Text >= 26 ]*/
.l1-txt1 {
  font-family: Barlow-Medium;
  font-size: 31px;
  line-height: 1;
  color: #fff;
}


/*==================================================================
   SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE
==================================================================*/
/*//////////////////////////////////////////////////////////////////
[ Size ]*/
.size1 {
  width: 100%;
  min-height: 100vh;
}

.size2 {
  width: 90px;
  height: 100px;
}

.size3 {
  min-width: 120px;
  height: 40px;
}

/*//////////////////////////////////////////////////////////////////
[ Width ]*/
.wsize1 {
  max-width: 100%;
  width: 880px;
}



/*//////////////////////////////////////////////////////////////////
[ Height ]*/
.hsize1 {
  min-height: 230px;
}



/*//////////////////////////////////////////////////////////////////
[ Background ]*/
.bg0 {background-color: #fff;}
.bg1 {background-color: rgba(255,255,255,0.8);-webkit-box-shadow: 0px 0px 23px 3px rgba(235,232,235,1);
-moz-box-shadow: 0px 0px 23px 3px rgba(235,232,235,1);
box-shadow: 0px 0px 23px 3px rgba(235,232,235,1);}

.bg-img1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}




/*//////////////////////////////////////////////////////////////////
[ Border ]*/
.bor1 {
  border-radius: 18px;
}

.bor2 {
  border-bottom: 1px solid #999999;
}



/*==================================================================
   WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE  
==================================================================*/
.where1 {
  margin: 20px 5px 0px 5px;
}


/*==================================================================
 HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW 
==================================================================*/
.placeholder0::-webkit-input-placeholder { color: #999999;}
.placeholder0:-moz-placeholder { color: #999999;}
.placeholder0::-moz-placeholder { color: #999999;}
.placeholder0:-ms-input-placeholder { color: #999999;}

/*---------------------------------------------*/
.wrappic1 {
  display: block;
  width: 100%;
  text-align: center;
}
.wrappic1 img {
  max-width: 100%;
}

/*---------------------------------------------*/
.how-countdown {
background-color: #01014a;
    border-radius: 7px;
    margin: 0px 14px 22px 18px;
}

/*---------------------------------------------*/
.how-btn {
  padding: 0 20px;
  background-color: #846add;
  border-radius: 5px;
}

.how-btn:hover {
  background-color: #333333;
}




/*//////////////////////////////////////////////////////////////////
[ Pseudo ]*/

/*------------------------------------------------------------------
[ Focus ]*/
.focus-in0:focus::-webkit-input-placeholder { color:transparent; }
.focus-in0:focus:-moz-placeholder { color:transparent; }
.focus-in0:focus::-moz-placeholder { color:transparent; }
.focus-in0:focus:-ms-input-placeholder { color:transparent; }


/*------------------------------------------------------------------
[ Hover ]*/
.hov-cl0:hover {color: #fff;}
.hov-bg0:hover {background-color: #fff;}

/*---------------------------------------------*/







/*==================================================================
  RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
==================================================================*/


/*//////////////////////////////////////////////////////////////////
[ XL ]*/
@media (max-width: 1200px) {
  .m-0-xl {margin: 0;}
  .m-lr-0-xl {margin-left: 0; margin-right: 0;}
  .m-lr-15-xl {margin-left: 15px; margin-right: 15px;}
  .m-l-0-xl {margin-left: 0;}
  .m-r-0-xl {margin-right: 0;}
  .m-l-15-xl {margin-left: 15px;}
  .m-r-15-xl {margin-right: 15px;}

  .p-0-xl {padding: 0;}
  .p-lr-0-xl {padding-left: 0; padding-right: 0;}
  .p-lr-15-xl {padding-left: 15px; padding-right: 15px;}
  .p-l-0-xl {padding-left: 0;}
  .p-r-0-xl {padding-right: 0;}
  .p-l-15-xl {padding-left: 15px;}
  .p-r-15-xl {padding-right: 15px;}

  .w-full-xl {width: 100%;}

  /*---------------------------------------------*/

}


/*//////////////////////////////////////////////////////////////////
[ LG ]*/
@media (max-width: 992px) {
  .m-0-lg {margin: 0;}
  .m-lr-0-lg {margin-left: 0; margin-right: 0;}
  .m-lr-15-lg {margin-left: 15px; margin-right: 15px;}
  .m-l-0-lg {margin-left: 0;}
  .m-r-0-lg {margin-right: 0;}
  .m-l-15-lg {margin-left: 15px;}
  .m-r-15-lg {margin-right: 15px;}

  .p-0-lg {padding: 0;}
  .p-lr-0-lg {padding-left: 0; padding-right: 0;}
  .p-lr-15-lg {padding-left: 15px; padding-right: 15px;}
  .p-l-0-lg {padding-left: 0;}
  .p-r-0-lg{padding-right: 0;}
  .p-l-15-lg {padding-left: 15px;}
  .p-r-15-lg {padding-right: 15px;}

  .w-full-lg {width: 100%;}

  /*---------------------------------------------*/


}


/*//////////////////////////////////////////////////////////////////
[ MD ]*/
@media (max-width: 768px) {
  .m-0-md {margin: 0;}
  .m-lr-0-md {margin-left: 0; margin-right: 0;}
  .m-lr-15-md {margin-left: 15px; margin-right: 15px;}
  .m-l-0-md {margin-left: 0;}
  .m-r-0-md {margin-right: 0;}
  .m-l-15-md {margin-left: 15px;}
  .m-r-15-md {margin-right: 15px;}

  .p-0-md {padding: 0;}
  .p-lr-0-md {padding-left: 0; padding-right: 0;}
  .p-lr-15-md {padding-left: 15px; padding-right: 15px;}
  .p-l-0-md {padding-left: 0;}
  .p-r-0-md{padding-right: 0;}
  .p-l-15-md {padding-left: 15px;}
  .p-r-15-md {padding-right: 15px;}

  .w-full-md {width: 100%;}
  /*---------------------------------------------*/

}


/*//////////////////////////////////////////////////////////////////
[ SM ]*/
@media (max-width: 576px) {
  .m-0-sm {margin: 0;}
  .m-lr-0-sm {margin-left: 0; margin-right: 0;}
  .m-lr-15-sm {margin-left: 15px; margin-right: 15px;}
  .m-l-0-sm {margin-left: 0;}
  .m-r-0-sm {margin-right: 0;}
  .m-l-15-sm {margin-left: 15px;}
  .m-r-15-sm {margin-right: 15px;}

  .p-0-sm {padding: 0;}
  .p-lr-0-sm {padding-left: 0; padding-right: 0;}
  .p-lr-15-sm {padding-left: 15px; padding-right: 15px;}
  .p-l-0-sm {padding-left: 0;}
  .p-r-0-sm{padding-right: 0;}
  .p-l-15-sm {padding-left: 15px;}
  .p-r-15-sm {padding-right: 15px;}

  .w-full-sm {width: 100%;}

  /*---------------------------------------------*/
  .respon1 {
    padding-top: 80px;
  }
  
}


/*//////////////////////////////////////////////////////////////////
[ SSM ]*/
@media (max-width: 480px) {
  .m-0-ssm {margin: 0;}
  .m-lr-0-ssm {margin-left: 0; margin-right: 0;}
  .m-lr-15-ssm {margin-left: 15px; margin-right: 15px;}
  .m-l-0-ssm {margin-left: 0;}
  .m-r-0-ssm {margin-right: 0;}
  .m-l-15-ssm {margin-left: 15px;}
  .m-r-15-ssm {margin-right: 15px;}

  .p-0-ssm {padding: 0;}
  .p-lr-0-ssm {padding-left: 0; padding-right: 0;}
  .p-lr-15-ssm {padding-left: 15px; padding-right: 15px;}
  .p-l-0-ssm {padding-left: 0;}
  .p-r-0-ssm{padding-right: 0;}
  .p-l-15-ssm {padding-left: 15px;}
  .p-r-15-ssm {padding-right: 15px;}

  .w-full-ssm {width: 100%;}
  /*---------------------------------------------*/

}


.sproutit-logo-height {
  height: 150px;
}

.vista-logo-height {
  height: 150px;
}

.present
{
  margin: 0 25px;
  font-size: 25px;
  font-weight: 100;
  color: #333333;
}
.shadow{-webkit-box-shadow: 0px 0px 19px 2px rgba(232,232,232,1);
-moz-box-shadow: 0px 0px 19px 2px rgba(232,232,232,1);
box-shadow: 0px 0px 19px 2px rgba(232,232,232,1);}
.white-box-padding{padding:58px 50px;}

.nav-list{padding:15px 15px; box-shadow: rgba(17, 17, 17, 0.2) 0px 5px 3px 0px;}
.nav-list li {display: inline-block; margin-left: 25px;}
.nav-list li:last-child {float: right; margin-left: 25px;margin-top: 12px;}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.siu-logo{height:56px;}
.itelflogo{margin-top: -10px; height: 55px;}
.scit-logo{height: 47px;margin-top: 4px;}
.section-intro-comingsoon{margin:75px 0px 0px; padding:50px 25px 50px;}
.text-sprouit-green{color: #005f04;}
.text-sprouit-blue{color: #01014a !important;}

.footer
{
  background: #01014a;
  padding: 20px;
  margin-top: -5px;
}

/* ---------------------PAGE LOADER---------------------*/

.loader-wrapper {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}

.loader-wrapper .loader {
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.spinn-right {
  -webkit-animation: spin-right 4s linear infinite;
  -moz-animation: spin-right 4s linear infinite;
  animation: spin-right 4s linear infinite;
  position: absolute;
  top: -98px;
    left: -37px 
}
.margin-right-only-desktop{margin-right: auto;}

@-moz-keyframes spin-right {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinn-left {
  -webkit-animation: spin-left 4s linear infinite;
  -moz-animation: spin-left 4s linear infinite;
  animation: spin-left 4s linear infinite;
  position: absolute;
  top: -146px;
    left: 68px;
}

@-moz-keyframes spin-left {
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.loader-title {
     color: #6fd096;
    font-weight: 400;
    display: block;
    font-size: 25px;
    margin-left: 5px;
    margin-top: 35px;
    text-align: center;
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
}

.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.navbar-brand { margin-right:1rem;}
.navbar-brand {font-size: 1.2rem;}

.about{padding:40px; margin-top: 0px; background:#f5fafd;}
.display-only-phone{display:none;}
.display-only-phone-block{display: none;}
.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
} 
.message_now_area .section_heading {
    margin-bottom: 0;
} 
.section_heading {
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 0.2;
}
.section_heading>h2 {
    font-size: 36px;
    text-transform: capitalize;
}
.contact_address_area .section_heading h2, .contact_address_area .single_contact_area p, .contact_address_area .single_contact_area i {
    color: white;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 30px 0;
}





/*Overlay Menu*/
.open-menu-icon{font-size:30px;cursor:pointer;margin-top: -13px;}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    background-color: rgb(1,1,74);
    background-color: rgba(1,1,74, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.mobile-contact-container{background:white; padding: 20px;}
.mobile-contact-container h2{border-bottom: 2px dotted #005f04 ; color:#005f04; margin: 10px 0px; text-align: left;}


/*Events CSS Code*/


.text-sprouit-blue-events {
	text-align: center;
	color: #01014a;
}

.gallery_full_width_images_area {
	padding-left: 150px;
}

/* :: 22.0 Gallery Area CSS */

.gallery_menu .portfolio-menu button {
    background-color: transparent;
    box-shadow: none;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
}

.gallery_menu .portfolio-menu button:hover,
.gallery_menu .portfolio-menu button:active,
.gallery_menu .portfolio-menu button:focus {
    background-color: transparent;
    color: #111;
}

.gallery_menu .portfolio-menu button.active {
    color: #111;
}

.gallery_menu .portfolio-menu button.active:before {
    background-color: #111;
    width: 100%;
    height: 3px;
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.portfolio-menu {
    margin-bottom: 30px;
}

.single_gallery_content {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.single_gallery_content img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
}

.single_gallery_content:hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.single_gallery_content .hover_overlay {
    background: rgba(0,95,4,0.85);
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_gallery_content:hover .hover_overlay {
    opacity: 0.95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
}

.single_gallery_content .gallery_info {
    text-align: center;
}

.gallery_info h4 {
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
	margin-top: 0px;
}

.gallery_info p {
    color: #fff;
    margin: 0 auto;
    max-width: 300px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.image_zoom_in {
    position: absolute;
    right: 15px;
    z-index: 999;
    bottom: 15px;
}

.image_zoom_in>a {
    background-color: #fff;
    border-radius: 50%;
    color: #005f04;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.image_zoom_in>a:hover {
    color: #2c3e50;
}


.single_gallery_item {
    display: inline-block;
  float: left;
    width: 25%;
}

.gallery_area .load_more {
    margin-top: 35px;
}

.section_padding_100 {
    padding: 25px 0 10px;
}
.portfolio-menu {
    margin-bottom: 6px;
}

.gallery_menu .portfolio-menu button.active {
    color: #111;
}

.gallery_menu .portfolio-menu button {
    background-color: transparent;
    box-shadow: none;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
}
.single_gallery_item {
    display: inline-block;
    float: left;
    width: 25%;
}

.single_gallery_content {
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.single_gallery_content  img {
    padding: 25px;
    width: 357px;
    height: 253px;
}

.table {
    display: table;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}
.table_cell {
    display: table-cell;
    vertical-align: middle;
}

.single_gallery_content .gallery_info {
    text-align: center;
}

.nav-events:hover{border-bottom: 2px dotted #01014a;padding: 0px 0px 1px;}
.nav-events{color: #01014a !important}


/******/
/*Shubhanjali*/
.table {
    display: table;
    z-index: 9;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    align-content: center;
}

.table_cell {
    display: table-cell;
    vertical-align: middle;
    align-content: center;
}

.about_image {
    height: 100%;
    position: relative;
    text-align: center;
    z-index: 2;
    margin: 0px;
    padding-right: 20px;
    padding-left: 20PX;
   
}

.display-only-phone{display: none;}

/**Nikhil CSS**/
/*  ----------------------------------------------------
6 portfolio
-------------------------------------------------------- */
.project_box_one {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  cursor: crosshair;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one .product_info {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
}
.project_box_one .product_info .product_info_text {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  position: relative;
}
.project_box_one .product_info .product_info_text .product_info_text_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.project_box_one .product_info .product_info_text .product_info_text_inner h4 {
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
  margin-bottom: 5px;
}
.project_box_one .product_info .product_info_text .product_info_text_inner i {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
}
.project_box_one:hover img {
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari */
  transform: scale(1.1);
  /* Standard syntax */
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one:hover .product_info {
  opacity: 1;
}
.project_box_one:hover .product_info .product_info_text_inner h4 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.project_box_one:hover .product_info .product_info_text_inner i {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #ffffff;
  word-wrap: break-word;
  padding-right: 36px;
  font-size: 14px;
  text-transform: capitalize;
}

.gutters .grid-item {
  margin-bottom: 30px;
}


/* ms-gallery styling */
.ms-gallery-group {
  
}

.ms-gallery-group img {
  margin: 7px;
  cursor: pointer;
}

.ms-gallery-group li {
  display: inline;
  float: none;
}

#ms-gallery img{
border-radius: 18px;
    border: none;
    width: 260px;
    height: 190px;
    margin: 0px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
